@page "/chat/{ChatId:guid}"

<div class="container-fluid chat-container">
    <div class="row">
        <div class="col-md-3 users-panel">
            <h4>Connected Users</h4>
            <ul class="list-group">
                @foreach (var user in ConnectedUsers)
                {
                    <li class="list-group-item">@user</li>
                }
            </ul>
        </div>

        <div class="col-md-9 chat-panel">
            <div class="messages-panel border rounded p-3 mb-3 bg-light">
                @foreach (var message in Messages)
                {
                    <div class="message">
                        <strong class="text-primary">@message.User:</strong> @message.Text
                    </div>
                }
            </div>

            <div class="send-message-panel input-group">
                <input type="text" @bind="CurrentMessage" class="form-control" placeholder="Write your message..." />
                <button class="btn btn-primary" @onclick="SendMessage">Send</button>
            </div>
        </div>
    </div>
</div>